 .navigation{

    position: fixed;
    width: 100%;    
    z-index: 999;


    &__icon{
        text-align: center;
        align-self: center;
        background-color: transparent;
        // height: 7rem;
        // width: 7rem;
        position: fixed;
        top: 6rem;
        left:6rem;
        border-radius: 50%;
        z-index: 1000;
        // box-shadow: 0 1rem 3rem rgba($color-black,.1);
        cursor: pointer;
        // font-size: 3.5rem;





    @include respond(tab-port){
        top: 4rem;
        right: 4rem;

    }

    
    @include respond(phone){
        top: 3rem;
        right: 3rem;

    }
  
        
    }


    &__toggle{

        color:$color-white;

        font-size: 4rem;
        // height: 3rem;
        // text-align: center;

    }

    // &__background{

    //     z-index: 1000;
    //     height: 6rem;
    //     width: 6rem;
    //     border-radius: 50%;
    //     position: fixed;
    //     top: 6.5rem;
    //     right: 6.5rem;
    //     background-image: radial-gradient($color-primary-light,$color-primary-dark);
    //     transition: transform .8s cubic-bezier(.86,0,0.07,1);
    //     // transform: scale(80);

    //     @include respond(tab-port){
    //         top: 4.5rem;
    //         right: 4.5rem;
    
    //     }

    //     @include respond(phone){
    //         top: 3.5rem;
    //         right: 3.5rem;
    
    //     }
      
      
    // }

    &__nav{

        height: 100vh;
        width: 35rem;
        z-index:99;
        border-radius: 0 50% 50% 0;
        // clip-path: ellipse(30% 50% at 70% 50%);
        position:fixed;
        top: 0;
        left: -100%;
        color:white;
        // background-color: yellow;
        transition: all .5s cubic-bezier(0.68,-0.55,0.265,1.55);
        background-image: radial-gradient($color-primary-light,$color-primary-dark);

    }

    &__nav.active{
        left: 0%;

        height: 100%;

    }


    
    &__list{

        position: absolute;
        top: 50%;
        left: 50%;
        // color: orangered;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item{
        text-align: center;
        margin: 1rem;
        font-size: 2rem;
        cursor:pointer;
    }

    &__overlay{



        transition: all 1s; 

    position:fixed;
    top: 0;
    right:0;
    // bottom: 0;
    visibility: hidden;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-color:rgba(0,0,0,.9);
    opacity: 0;
    
    }
    
    

    
    






    

   



//     &__link{

//           display: inline-block;
//         font-size: 3rem;
//         font-weight: 300;
//         padding: 1rem 2rem;
//         background-size: 226%;
//         color: $color-white;
//         text-decoration: none;
//         background-image: linear-gradient(120deg,transparent 0%,transparent 50%,$color-white 50%);
//         transition: all .4s;
     
//         text-transform: uppercase;
//         &:link,&:visited{
//             display: inline-block;
//         font-size: 3rem;
//         font-weight: 300;
//         padding: 1rem 2rem;
//         background-size: 226%;
//         color: $color-white;
//         text-decoration: none;
//         background-image: linear-gradient(120deg,transparent 0%,transparent 50%,$color-white 50%);
//         transition: all .4s;
     
//         text-transform: uppercase;
//     }
//     &:hover,&:active{

//         background-position: 100%;
//         color: $color-primary;
//         transform: translateX(1rem);

//     }


// }

// &__checkbox:checked ~ &__background{
//     transform: scale(50);
// }


// &__checkbox:checked ~ &__nav{
// opacity: 1;
// width: 100%;

// }

// &__icon{
//     position: relative;
//     margin-top: 3.5rem;
// }
//     &,
//     &::before,
//     &::after{
//         display: inline-block;
//         width: 3rem;
//         height:2px;
//         background-color: $color-gray-dark-2;
//     }

//     &::before,&::after{
//         content: '';
//         position: absolute;
//         left: 0;
//         transition: all .2s ;

//     }

//     &::before{top:-.8rem;}
//     &::after{top: .8rem};

// }

// &__button:hover &__icon::before{
//     top: -1rem;
// }


// &__button:hover &__icon::after{
//     top: 1rem;
// }

// &__checkbox:checked + &__button &__icon{

//         background-color: transparent;



// }

// &__checkbox:checked + &__button &__icon::before{
//     top: 0;
//     transform: rotate(135deg);


// }

// &__checkbox:checked + &__button &__icon::after{

//    top: 0; 
//  transform: rotate(-135deg);


// }




}

